/** vh = la valeur de la fenêtre **/

/** CCS DU POINTER (SOURIS) **/

.pointer{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 30px;
	height: 30px;
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	pointer-events: none;
	box-sizing: border-box;
}

/** CSS DU CORPS SITE GÉNÉRAL **/

html, body {
	height: 100%;
	margin: 0; padding: 0;
}

body{
	background-color: #f3f3f3;
	margin: 0px;
	padding: 0px;
	display : table;
	width: 100vw;
	position: relative;
	min-height: 100%;
	min-width: 1000px;
}

header{
	height: 100vh;
}

section{
	background-color: #f3f3f3;
	padding-top: 15vh;
}

h1{
	font-size: 3em;
	font-family: 'Barlow', sans-serif;
	color: black;
	font-weight: 500;
}

h3{
	color: #06B7FB;
	padding-bottom: 30px;
	font-family: 'Barlow', sans-serif;
	font-size: 1.7em;
	font-weight: 500;
}

a{
	text-decoration: none;
	color: black;		
}

div{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: auto;
}

p{
	font-family: 'Barlow', sans-serif;
	color: black;	
}

b{	
	color: white;
	font-weight: 500;
}

/** CSS DE LA BARRE DE NAVIGATION **/

.liste-nav{
	position: fixed;
	z-index: 3;
	top: 18px;
	right: 6vh;
	width: 235px;
	display: flex;
	text-align: center;
	padding: 2px;
	padding-bottom: 4px;
}

.text-block {
	z-index: 3;
	left: 7vh;
	top: 18px;
	font-size: 1.1em;
	font-family: 'Barlow', sans-serif;
	width: 130px;
	text-align: center;
	padding: 8px;
	position: fixed;
	margin-bottom: 10px;
}

.text-block p:hover{
	text-decoration:  line-through;
	transition: 0.5s ease;
}

.liste-nav li{
	text-align: center;
	padding: 6px;
	padding-right: 0.42vw;
	font-family: 'Barlow', sans-serif;
	font-size: 1.1em;
}

.liste-nav li:hover{
	text-decoration:  line-through;
	transition: 0.5s ease;
}

/** CSS DE LA BARRE DES RÉSEAUX SOCIAUX **/ 

.div-footer{
	background-color: #f3f3f3;
	padding-top: 15vh;
	width: auto;
	padding-bottom: 35px;
}

footer{
	position: absolute;
	bottom: 0px;
	display : table-row;
	padding-top: 77px;
	padding-left: 17px;
	padding-bottom: 30px;
}

footer li{
	text-align: center;	
	padding-right: 1.38vw;
	font-family: 'Barlow', sans-serif;
	font-size: 1.1em;
	color: black;
}

footer li:hover{
	text-decoration:  line-through;
	transition: 0.5s ease;
} 

.social-network{
	display: flex;
	text-align: center;
	padding-left: 6vh;
}

/** CCS DE L'INDEX **/


.div-index{
	margin-top: 50vh;
	transform: translateY(-50%);
	width: 100vw;
}

.h1-index{
	text-align: center;
	font-size: 7em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: rgb(255, 255, 255);
}

.p-index{
	margin-top: 4px;
	text-align: center;
	font-family: 'Barlow', sans-serif;
	letter-spacing: 11px;
	font-weight: 500;
	font-size: 2.1em;
	color: rgb(255, 255, 255);
}

/** CSS DU ABOUT **/

.section-about{
	display: flex;
	background-color: #04142c;
	width: auto;
	padding-top: 0;
}

.section-info-about{
	background-color: #00000000;
	padding-left: 50px; 
	margin-right: auto;
	margin-top: 15px;
	border-radius: 4px;
	padding-bottom: 20px;
	width: auto;
}

.section-image-about{
	background-color: #04142c;
	margin-left: auto;
	width: auto;
	display: block;
	margin-top: 15px;

}

#h1-about {
	padding-top: 0;
	background-color: #00000000;
	text-align: center;
	margin-bottom: 0;
}

#h1-about h1{
	color: white;
	padding-left: 0vw;
}

.image-about{
	width: 35vw;
}

.information-perso{
	padding-top: 50px;
	background-color: #04142c;
	width: auto;
}

.paragraphe-perso{
	color: white;
	width: 30vw;
	font-family: 'Barlow', sans-serif;
	font-size: 1.2em;
	word-spacing: 1.4px;
	text-align: justify;
}

.information-client{
	padding-top: 50px;
	color: white;
	font-family: 'Barlow', sans-serif;
	font-size: 1.2em;
	width: auto;
}

/** CSS DU PORTFOLIO **/

.portfolio-section{
	padding-top: 6vh;
}

.image-portfolio{
	border: solid black 0.5px;
	display: block;
	height: 150px;
	width: 1000px;
	margin-top: 3vh;
}

.projet .hover-projet{
	border: solid black 0.5px;
	position: absolute;
	opacity: 1;
	transition: 0.5s ease;
	height: 150px;
	width: 1000px;
	background-color: rgba(4, 20, 44, 0.952);
}

.projet:hover .hover-projet{
	opacity: 0;
	width: 10px;
	transition: 0.5s ease;
}

.text-projet{
	position: absolute;
	font-family: 'Barlow', sans-serif;
	font-size: 1em;
	bottom: 20px;
	left: 20px;
	color: white;
}

/** CSS DES PROJETS **/

.image1-projet{
	height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/** CSS DU SLIDER **/

.slider-span{
	display: none;
}

.slider-container{
	margin-top: 70px;
	height: 562px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	text-align: center;
}

.image-container{
	height: 562px;
	z-index: 1;
	width: 6000px;
	position: relative;
	transition: left 2s;
	-webkit-transition: left 2s;
	-moz-transition: left 2s;
	-o-transition: left 2s;
}

.slider-image{
	height: 562px;
	width: 1000px;
	float: left;
	padding: 0px;
	margin: 0px;
}

.button-container{
	z-index: 1;
	top: -30px;
	position: relative;
}

.slider-button{
	display: inline-block;
	height: 13px;
	width: 13px;
	margin-left: 3px;
	border-radius: 7px;
	background-color: #212121;
}

#slider-image-1:target ~ .image-container{
	left: 0px;
}

#slider-image-2:target ~ .image-container{
	left: -1000px;
}

#slider-image-3:target ~ .image-container{
	left: -2000px;
}

#slider-image-4:target ~ .image-container{
	left: -3000px;
}

#slider-image-5:target ~ .image-container{
	left: -4000px;
}

#slider-image-6:target ~ .image-container{
	left: -5000px;
}

.div1-section-projet{
	width: 1000px;
}

.h1-projet{
	text-align: center;
}

.h2-projet{
	letter-spacing: 11px;
	font-weight: 400;
	margin-top: 20px;
	padding: 0px;
	text-align: center;
	font-size: 1.5em;
	color: black;
	font-family: 'Barlow', sans-serif;
}

.div2-section-projet{
	padding-top: 70px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.p-projet{
	width: 700px;
	font-family: 'Barlow', sans-serif;
	margin: auto;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.7;
}

.image2-projet{
	display: block;
	margin-top: 70px;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.div-hover-projets{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: auto;
}

.image2-projet-hover{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	opacity: 0;
	width: 750px;
}

.image2-projet-hover:hover{
	opacity: 1;
	transition: 0.5s;
}

/** CSS DU CONTACT **/

.icon-close {
	transition: right .6s ease-in-out;
	cursor: pointer;
}

.toggle-form .formwrap img {
    width: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.toggle-form a{
	color: #fff;
	text-align: center;
	margin-bottom: 10px;

}
.texte-formulaire{
	padding-bottom: 10px;
	color: #fff;
  	font-family: 'Barlow', sans-serif;
}

.toggle-form {
	background-color: rgba(0, 0, 0, 0);
	padding-right: 0vh;
	padding-left: 0vh; 
	padding-top: 0px;
	right: -9999px;
	position: fixed;
	top: 0;
	width: 520px;
	height: 100%;
	z-index: 9999;
	transition: right 0.5s ease-in-out;
}

.toggle-form.active {
    right: 0;
}

.formwrap {
	background-color: rgba(1, 14, 31, 0.897);
	max-width: 520px;
	height: 100%;
	float: right;
}

.form-group{
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 400px;
}

.form-control, .form-control-message{
    display: block;
    padding: 0.5em 0.5em;
    font-size: .9em;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
	width: 350px;
    border-color: #fff;
    color: black;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

textarea{
	height: 5em;
}

.form-control-message{
	height: 200px;
	display: inline-block;
}

.background-formulaire{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3vh;
	height: 85vh;
	width: 420px;
	background-color: #020d1fc2;
	border: solid white 0.5px;
}

.titre-formulaire{
	padding-bottom: 20px;
	padding-top: 5vh;
	font-size: 2em;	
	font-family: 'Barlow', sans-serif;
	color: white;
}

.soumettre{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.orange {
	font-family: 'Barlow', sans-serif;
    background-color: white;
    border-color: grey;
    color: black;
    padding: .5rem 2em;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 4px;
  	cursor: pointer;
}
.orange:hover {
    background-color: grey;
    border-color: black;
    color: black;
}

.texte-probleme{
	font-family: 'Barlow', sans-serif;
	color: white;
}

.protectionspam{
	display: none;
}

/** CSS DU CV **/

.social-cv-about li{
	color: white;
}

.nav-cv-about a, .nav-cv-about p{
	color: white;
}

.body-cv-about{
	background-color: #04142c;
}

.section-cv h1, h2{
	color: white;
	padding-left: 7vw;
}

.section-cv h2{
	padding-top: 2vh;
	padding-top: 1.5vh;
	margin-left: 3px;
	color: #06B7FB;
	font-family: 'Barlow', sans-serif;
	font-size: 1.2em;
}

.section-cv{
	background-color: #00000000;
	width: 1000px;
	padding-right: 1vw;
	padding-left: 1vw; 
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 4px;
	padding-bottom: 20px;
}

.div-footer-cv{
	background-color: rgba(0, 0, 0, 0);
}

.information-cv{
	display: flex;
	padding-top: 70px;
}

.information-cv p{
	color: white;
	margin-bottom: 80px;
	font-weight: 200;
}	

.date{
	width: 350px;
}

.formation-experience{
	width: 560px;
	margin-right: 100px;
	display: flex;
}

.coordonnee-compétence-loisir{
	width: 250px;
}

.date p{
	color: #06B7FB;
	padding-top: 58px;
	text-align: right;
	padding-right: 13px;
}

.image-cv{
	width: 10px;
	padding-right: 13px;
	padding-top: 61px;
	flex: 1;
}

.image1-cv{
	width: 8.9px;
	padding-bottom: 166px;
}

.image2-cv{
	width: 8.9px;
}

.cv-telechargeable{
	text-align: center;
	width: 950px;
	border-radius: 4px;
	font-family: 'Barlow', sans-serif;
	font-size: 1.2em;
	color: #fff;
}

.cv-telechargeable a{
	color: #06B7FB;
	
}

.cv-telechargeable a:hover{
	color: white;
	transition: 0.3s;
}

/** CSS POUR LES FORMATS D'ÉCRAN MOBILE **/

@media screen and (max-width: 1280px)
{	
	.pointer{
		background: rgba(255, 255, 255, 0);
		border: 1px solid rgba(255, 255, 255, 0);
	}

	/** CSS DU CORPS SITE GÉNÉRAL MOBILE **/

	html, body {
		height: 100%;
		margin: 0; padding: 0;
	}

	body{
		min-height: 0px;
		min-width: 0px;
	}

	header{
		height: 100vh;
		width: auto;
	}

	section{
		border: none;
		background-color: #f3f3f3;
		padding-top: 15vh;
	}

	h1{
		font-size: 3em;
		font-family: 'Barlow', sans-serif;
		color: black;
		font-weight: 500;
	}

	h3{
		color: #06B7FB;
		padding-bottom: 30px;
		font-family: 'Barlow', sans-serif;
		font-size: 1.7em;
		font-weight: 500;
	}

	a{
		text-decoration: none;
		color: black;		
	}

	div{
		margin-left: auto;
		margin-right: auto;
		width: auto;
		height: auto;
	}

	p{
		font-family: 'Barlow', sans-serif;
		color: black;	
	}

	b{	
		color: white;
		font-weight: 500;
	}

	/** CSS DE LA BARRE DE NAVIGATION MOBILE **/

	.liste-nav{
		display: none;
		right: 4vw;
		width: 450px;
	}

	.text-block-mobile{
		z-index: 4;
		left: 4vw;
		font-size: 4em;
		width: auto;
		top: 18px;
		font-family: 'Barlow', sans-serif;
		padding: 8px;
		position: fixed;
		margin-bottom: 10px;
		text-align: center;
		background-color: #04142cde;
	}

	.text-block{
		display: none;
		left: 4vw;
		font-size: 2.5em;
		width: auto;
	}

	.text-block p, .text-block-mobile p{
		color: white;
	}
	
	.liste-nav li{
		padding-right: 0.42vw;
		font-size: 2.5em;
		color: white;
	}

	/** CSS DE LA BARRE DES RÉSEAUX SOCIAUX MOBILE **/ 

	footer{
		opacity: 0;
		position: absolute;
		bottom: 0px;
		display : table-row;
		padding-top: 1.4vh;
		padding-left: 0px;
		padding-bottom: 30px;
		width: 100vw;
	}

	footer li{
		display: none;
		font-size: 2.5em;
		color: #fff;
		padding-right: 3vw;
	}

	.social-network{
		display: flex;
		text-align: center;
		padding-left: 4vw;
	}

	/** CCS DE L'INDEX MOBILE **/

	.div-index{
		margin-top: 45vh;
		transform: translateY(-50%);
		width: auto;
	}

	.h1-index{
		text-align: center;
		font-size: 8em;
		padding-left: 2vw;
	}

	.p-index{
		margin-top: 4px;
		text-align: center;
		font-family: 'Barlow', sans-serif;
		letter-spacing: 11px;
		font-weight: 400;
		font-size: 3em;
		padding-left: 2vw;
	}

	/** CSS DU ABOUT MOBILE **/

	.div-footer-cv{
		background-color: #04142c;
	}

	.section-about{
		display: block;
		background-color: #04142c00;
	}

	.section-info-about{
		padding-left: 0;
		margin-top: 100vh;
		width: 100vw;
		background-color: #04142c;
		padding-top: 7vh;
		padding-bottom: 0;
	}

	.section-image-about{
		margin-left: auto;
		width: 0;
		display: block;
		margin-top: 0;
	}

	#h1-about {
		text-align: center;
		padding-top: 0%;
	}

	#h1-about h1{
		padding-top: 0;
		color: white;
		padding-left: 0vw;
	}

	.image-about{
		width: 0vw;
	}

	.information-perso{
		padding-top: 50px;
		background-color: #04142c;
		width: 100vw;
	}

	.paragraphe-perso{
		color: white;
		width: 90vw;
		font-family: 'Barlow', sans-serif;
		font-size: 1.2em;
		word-spacing: 1px;
		text-align: justify;
		margin: auto;
	}

	.information-client{
		padding-top: 50px;
		width: 100vw;
		text-align: center;
	}


	/** CSS DU PORTFOLIO MOBILE **/

	.portfolio-section{
		padding-top: 13vh;
		width: 800px;
		display: block;
		margin: auto;
	}

	.image-portfolio{
		border: solid black 0.5px;
		height: 120px;
		width: 800px;
		margin-top: 4vh;
	}

	.projet .hover-projet{
		margin: auto;
		border: solid black 0.5px;
		position: absolute;
		opacity: 1;
		transition: 0.5s ease;
		height: 120px;
		width: 800px;
		background-color: rgba(4, 20, 44, 0.952);
	}

	.projet:hover .hover-projet{
		opacity: 0;
		width: 800px;
		transition: 0.5s ease;
	}

	.text-projet{
		position: absolute;
		font-family: 'Barlow', sans-serif;
		font-size: 2em;
		bottom: 20px;
		left: 20px;
		color: white;
	}

	/** CSS DES PROJETS MOBILE **/

	.image1-projet{
		height: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	/** CSS DU SLIDER MOBILE **/

	.slider-span{
		display: none;
	}

	.slider-container{
		margin-top: 70px;
		height: 42.15vw;
		width: 75vw;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		text-align: center;
	}

	.image-container{
		height: 42.15vw;
		z-index: 1;
		width: 450vw;
		position: relative;
		transition: left 2s;
		-webkit-transition: left 2s;
		-moz-transition: left 2s;
		-o-transition: left 2s;
	}

	.slider-image{
		display: block;
		margin: auto;
		height: 42.15vw;
		width: 75vw;
		float: left;
		padding: 0px;
		margin: 0px;
	}

	.button-container{
		z-index: 1;
		top: -50px;
		position: relative;
	}

	.slider-button{
		display: inline-block;
		height: 4vw;
		width: 4vw;
		margin-left: 7px;
		border-radius: 100px;
		background-color: #212121;
	}

	#slider-image-1:target ~ .image-container{
		left: 0px;
	}

	#slider-image-2:target ~ .image-container{
		left: -75vw;
	}

	#slider-image-3:target ~ .image-container{
		left: -150vw;
	}

	#slider-image-4:target ~ .image-container{
		left: -225vw;
	}

	#slider-image-5:target ~ .image-container{
		left: -300vw;
	}

	#slider-image-6:target ~ .image-container{
		left: -375vw;
	}

	.div1-section-projet{
		width: 75vw;
	}

	.h1-projet{
		text-align: center;
		width: auto;
	}

	.h2-projet{
		width: auto;
		letter-spacing: 11px;
		font-weight: 400;
		margin-top: 20px;
		padding: 0px;
		text-align: center;
		font-size: 1.5em;
		color: black;
		font-family: 'Barlow', sans-serif;
	}

	.div2-section-projet{
		padding-top: 70px;
		width: auto;
		margin-right: auto;
		margin-left: auto;
	}

	.p-projet{
		width: 75vw;
		font-family: 'Barlow', sans-serif;
		margin: auto;
		font-size: 1.2em;
		font-weight: 300;
		line-height: 1.7;
	}

	.image2-projet{
		display: block;
		margin-top: 70px;
		width: 75vw;
		margin-left: auto;
		margin-right: auto;
	}

	.div-hover-projets{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 75vw;
		height: auto;
	}

	.image2-projet-hover{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 70px;
		opacity: 1;
		width: 75vw;
	}

	.image2-projet-hover:hover{
		opacity: 1;
		transition: 0.5s;
	}

	/** CSS DU CONTACT MOBILE **/

	.toggle-form{
		display: none;
	}

	.icon-close{
		transition: left .6s ease-in-out;
		cursor: pointer;
	}

	.toggle-form-mobile .formwrapmobile img {
		position: absolute;
		width: 4vw;
		padding-top: 2vw;
		padding-right: 2vw;
		right: 0;
	}

	.toggle-form-mobile a{
		color: #fff;
		text-align: center;
		margin-bottom: 10px;

	}
	.texte-formulaire-mobile{
		padding-bottom: 10px;
		color: #fff;
		font-family: 'Barlow', sans-serif;
	}

	.toggle-form-mobile{
		background-color: rgba(0, 0, 0, 0);
		padding-right: 0vh;
		padding-left: 0vh; 
		padding-top: 0px;
		left: -9999px;
		position: fixed;
		top: 0;
		width: 50vw;
		height: 100%;
		z-index: 9999;
		transition: left 0.5s ease-in-out;
		display: block;
	}

	.toggle-form-mobile.active {
		left: 0;
	}

	.formwrapmobile{
		background-color: #04142c;
		width: 50vw;
		height: 100%;
		float: left;
	}

	.form-group-mobile{
		padding-top: 0.5vh;
		padding-bottom: 0.5vh;
		margin-top: 2vh;
		width: 40vw;
		font-family: 'Barlow', sans-serif;
		color: black;
		background-color: white;
		display: block;
		text-align: center;
	}

	.form-group-mobile a{
		color: black;
		font-size: 2.5em;
	}

	.form-group-mobile a:hover{
		text-decoration:  line-through;
	}

	.questionnaire-mobile p{
		font-size: 1.5em;
		color: white;
	}

	.form-group-mobile p{
		color: black;
		font-size: 1.5em;
	}

	.form-control, .form-control-message{
		display: block;
		padding: 0.5em 0.5em;
		font-size: .9em;
		line-height: 1.25;
		color: #495057;
		background-color: rgb(27, 27, 27);
		border: 1px solid rgba(0,0,0,0.15);
		border-radius: 4px;
		width: 40vw;
		border-color: #fff;
		color: white;
		margin-left: auto;
		margin-right: auto;
		box-sizing: border-box;
	}

	.form-control-message{
		height: 20vh;
	}

	.background-formulaire-mobile{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3vh;
		width: auto;
	}

	.questionnaire-mobile{
		padding-top: 6vh;
		text-align: center;
	}

	.titre-menu-mobile{
		padding-bottom: 20px;
		padding-top: 5vh;
		font-size: 8em;	
		font-family: 'Barlow', sans-serif;
		color: white;
	}

	.soumettre{
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.mail{
		font-size: 2.5em;
	}
}